<div class="mt-5 pt-5 pb-5 footer">
  <div class="container-fluent page-footer">
    <div class="row">
      <div class="about-company">
        <h3>Social Media</h3>
        <p><a href="https://www.facebook.com/Webrest-111258740352600/" class="fa fa-facebook"></a><a href="https://www.instagram.com/webrestt/" class="fa fa-instagram"></a><a href="https://docs.google.com/forms/d/e/1FAIpQLSdF9UEgRKyPT6TFw9SnOoHGxX99wBD9lOShjOHRL52n6YORQw/viewform?usp=sf_link" class="fa fa-google"></a></p>
      </div>
      <div class="links">
        <h4>Links</h4>
        <ul class="m-0 p-0">
          <li><a [routerLink]="['restaurants']" routerLinkActive="active">How to reserve restaurants</a></li>
          <li><a [routerLink]="['about']" routerLinkActive="active">About us</a></li>
          <li><a [routerLink]="['contact']" routerLinkActive="active">Contact</a></li>
        </ul>
      </div>
      <div class="location">
        <h4>Location</h4>
        <p>ul."Studentska" 1, 9010 Levski, Varna</p>
      </div>
      <div class="contact">
        <h4>Contact</h4>
        <p class="mb-0"><i class="fa fa-phone"></i>+(359) 000 000</p>
        <p><i class="fa fa-envelope-o"></i>webbrestt@gmail.com</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col copyright">
        <p class="reserved"><small class="reserved"> © WEBREST 2019. All Rights Reserved.</small></p>
      </div>
    </div>
  </div>
</div>
