:host{

}
#carouselExampleIndicators{
  margin-top:10px;
  width:100%;
}
.img-fluid {
  height: 900px;
  max-height: 100vh;
  width:100%;
}

i {
  color: #0094FF !important;
}

section{
  margin-top: 20px;
  color:#ffffff;
}

