$columns: 3;
$spaceBetween: 6px;
$imgWidth: 240px;
$imgHeight: 120px;
$padding: 6px;

:host {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: ($columns * $imgWidth) + (($columns - 1) * $spaceBetween) + ($padding * 2);
  min-height: 654px;
  padding: 6px 6px 0 6px;

  .listings-info-wrapper {
    display: flex;
    width: 100%;
    padding: 20px;

    .listings-stats {
      display: flex;
      font-size: 1.25em;
      font-weight: bold;
      width: 50%;
    }

    .listings-info-current {
      display: flex;
      font-size: 1.15em;
      font-weight: bold;
      justify-content: flex-end;
      width: 50%;
    }
  }

  .listing-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: $imgWidth;
    max-width: $imgWidth;
    background-color: #ededed;
    border-bottom: 3px solid #0c6ec4;

    &:hover {
      border-bottom: 3px solid #309eff;
    }

    .listing-img-wrapper {
      display: flex;
      width: $imgWidth;
      height: $imgHeight;
      justify-content: center;
      align-items: center;

      Image {
        width: $imgWidth;
        height: $imgHeight;
      }
    }

    .listing-info {
      width: 100%;

      &__rest-title {
        display: flex;
        font-weight: bold;
        font-size: 1.2em;
      }

      &__rating {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 4px;

        span {
          font-size: 1.05em;
          font-weight: bold;
        }

        Rating {
          width: 50%;
        }
      }

      &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }


  .listing-wrapper:nth-child(3n) {
    margin-left: $spaceBetween;
    margin-right: $spaceBetween
  }

  .listing-wrapper:nth-child(n + 5) {
    margin-top: $spaceBetween * 2;
  }


  PageNavigator {
    margin-top: 40px;
    align-self: flex-end;
  }
}

