<ng-container *ngIf="filteredListings">
  <div class="listings-info-wrapper">
    <span class="listings-stats listings-info-total">Total Results: {{getListingCount()}}</span>
    <span class="listings-stats listings-info-current">{{currentStartIndex}} - {{currentEndIndex}} of {{getListingCount()}} Restaurants</span>
  </div>
  <div *ngFor="let listing of filteredListings" class="listing-wrapper">
    <div class="listing-img-wrapper ">
      <Image [imagePath]="'../../../assets/images/listings/' + listing.listingImgPath" (click)="getListingInfo(listing.listingTitle)"></Image>
    </div>
    <div class="listing-info">
      <span class="listing-info__rest-title">{{listing.listingTitle}}</span>
      <div class="listing-info__rating">
        <Rating></Rating>
        <span>{{listing.listingReviewCount}} Reviews</span>
      </div>
      <div class="listing-info__buttons">
        <CButton class="listing-info__buttons-reserve">Reserve</CButton>
        <CButton class="listing-info__buttons-order">Order</CButton>
      </div>
    </div>
  </div>
  <PageNavigator [pages]="pageCount" [pagesVisible]="6" [callback]="updateListings" [ref]="this"></PageNavigator>
</ng-container>
