<ng-container *ngIf="filteredListings">
  <div class="listings-info-wrapper">
    <span class="listings-stats listings-info-total">Общо резултати: {{getListingCount()}}</span>
    <span class="listings-stats listings-info-current">{{currentStartIndex}} - {{currentEndIndex}} от {{getListingCount()}}</span>
  </div>
  <div *ngFor="let listing of filteredListings" class="listing-wrapper">
    <div class="listing-img-wrapper">
      <img [src]="'../../../assets/images/listings/' + listing.listingImgPath" />
    </div>
    <div class="listing-info">
      <span class="listing-info__rest-title">{{listing.listingTitle}}</span>
      <div class="listing-info__rating">
        <Rating></Rating>
        <span>{{listing.listingReviewCount}} Reviews</span>
      </div>
      <div class="listing-info__buttons">
        <CButton class="listing-info__buttons-reserve">Резервирай</CButton>
        <CButton class="listing-info__buttons-order">Поръчай</CButton>
      </div>
    </div>
  </div>
  <PageNavigator [pages]="pageCount" [pagesVisible]="6" [callback]="updateListings" [ref]="this"></PageNavigator>
</ng-container>
