<div class="container-fluent">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">Who are we?</h1>
        <p class="lead  mb-0">
          We at WEBREST would like to change the world, but for now we would be happy enough if we change the way you find and do bookings in restaurants. In short, we want restaurant reservations to happen in the 21st century - in real time, with few clicks, without unnecessary waiting and inconvenience. Reserve your favorite table, now, the one by the fireplace or the one by the window with the amazing view. Discover new places to eat with your friends and family and share your experience with others, by giving them your opinion and recommendations.
        </p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="../../../../../../../assets/images/logo.svg"  alt="" class="img-fluid"></div>
    </div>
  </div>
</div>
