<div class="container-fluent">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">Who are we?</h1>
        <p class="lead  mb-0">
          We at WEBREST would like to change the world, but for now we will be happy to change the way we find and book restaurants.

          In short, we want restaurant reservations to happen in the 21st century - in real time, with a few clicks, without waiting and inconvenience. Keep your favorite table, the one by the fireplace or the one by the window with amazing views. Finding yourself in an unfamiliar city to find the best place to eat at a hotel or sightseeing.

          We want to be surprised. Easily find new restaurants in familiar places. From those we can't wait to share.
        </p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="../../../../../../../assets/images/logo.svg"  alt="" class="img-fluid"></div>
    </div>
  </div>
</div>
