nav {
  margin-top: 10px;
  display: block;
  top: 0;
  z-index: 100;
  position: sticky;
  background-color: #323233 !important;
}
a{
  color:white !important;
}
.logo{
  width:50px;
}
#logo-wrapper {
  justify-content: flex-end;
  cursor: pointer;
}
.logo-name{
  color:white;
  margin:0 30px 0 10px;
}
li {
  cursor: pointer;
  font-weight: bold;
}

#header-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.active {
  color: #0094FF !important;
  border-bottom: 2px #8A2BE2 solid;
}
.icon-login
{
  font-family:'icons';
}

.contact-line {
  height: 20px;
  margin-bottom: -10px;
}
