<div class="dishes filter-category">
  <p>Cuisine & Dishes</p>
  <label class="container">
    Chineese
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  <label class="container">
    Indian
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  <label class="container">
    Brazillian
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  <label class="container">
    French
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  <span class="filter-more">More<i class="fas fa-caret-down"></i></span>
</div>
<span class="hl"></span>
<div class="price filter-category">
  <p>Price</p>
  <label class="container">
    Cheap
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  <label class="container">
    Mid-Range
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  <label class="container">
    Fine-Dining
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
</div>
<span class="hl"></span>
<div class="price filter-category">
  <p>Restaurant Features</p>
  <label class="container">
    Free Wifi
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  <label class="container">
    Live Music
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  <label class="container">
    Takeout
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  <label class="container">
    TV
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  <label class="container">
    Reservations
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  <label class="container">
    Outdoor Seating
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  <span class="filter-more">More<i class="fas fa-caret-down"></i></span>
</div>
